@import url("materialize.min.css");
/* Variable Declaration */
:root {
    --back-color: #eeeeee;
    --primary-color: #4bb5f3;
    --secondary-color: #c0392b;
    --widget1-color: #F44336;
    --widget2-color: #E91E63;
    --widget3-color: #00BCD4;
    --widget4-color: #009688;
    --widget5-color: #4CAF50;
    --widget6-color: #9C27B0;
    --lightfont-color: #dddddd;
    --darkfont-color: #333333;
}

.cell {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}
/* Google CSE Custom Mods - Start*/
.gsc-input {
    background: none !important;
    margin: 0 0 0 0 !important;
}

.gsc-input input {
    border: 1px ridge #cccccc !important;
}
.gsc-clear-button {
    /*display: none;*/
}

.gsc-search-button input[type="button"] {
    /*@extend .cell;*/
    /*height:45px;*/
    /*width: 80px;*/
    display: none;
}

/* Google CSE Custom Mods - End*/
/*Search for styles start*/
.gsc-input input[type=text]:focus:not([readonly]) {
@extend . cell;
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #555555;
}
/*Search form styles end*/
/*pagination number font formating*/
.gsc-results .gsc-cursor-box {
    font-size: 1.2em;
    text-align: center;
}

/*content start*/
.content {
    /*margin: 1%;*/
    background: var(--back-color);
}

.side-nav a {
    /*background-color: #e67e22;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.side-nav li .active {
    background-color: var(--primary-color);
}
.col {
    margin-bottom: 10px;
}

.page-content {

}

.middle-wrap {
    background-color: white;
}

.search-area {
    min-height: 500px;
}

.search-area td {
    padding: 2px 2px 5px 3px !important;
}

.result-area {
    /*min-height: 300px;*/
    clear: both;
    position: relative;
}

.result {
    z-index: 100;
    position: relative;
    background-color: white;
}

.mid-ads {
    z-index: 5;
    height: auto;
    /*border: solid red 1px;*/
    width: 100%;
    top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.top-query {
    transition: max-height 300ms ease;
    max-height: 1px;
    overflow: hidden;
    position: relative;
    z-index: 101;
    width: 100%;
    left: 0;
    background-color: white;
}

.top-query-active {
    max-height: 1000px;
}

.query-list {
    margin: 10px;
}

/*content end*/
/*header starts*/
.header {
    background-color: var(--primary-color);
}
.menu-button-column {

}
.logo-button-column {
    /*height: 125px;*/
}

.social-column {
    /*height: 50px;*/
    /*float: right !important;*/
    margin: 25px auto 3px auto;
}

.menu-button {
    margin: 25px 0 0 25px;
}
/*header ends*/
/*sidebar start*/
.sidebar .widget-info {
    /*transition: margin-left 300ms ease;*/
}

.sidebar .widget-info {
    /*margin-left: 10px;*/
    /*color: #00C853;*/
}
/*sidebar end*/
/*footer starts*/
.footer{
    background-color: var(--back-color);
}
.bar-menu {
    background-color: var(--secondary-color);
    height: 50px;
    padding-top: 15px;
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--lightfont-color);
}

/*footer ends*/
/*widget starts*/
.widget {
    color: #000000;
    background-color: var(--back-color);
    z-index: 20;
    margin-bottom: 10px;
    /*text-align: center;*/
}

.widget li {
    margin-top: 3px;
}

/*Roboto+Condensed:300,300i,400,400i,500,700,700i|Roboto:500*/
.widget-title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

.widget-info {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 100%;
    /*padding: 5px;*/
}

.widget-info span {
    font-size: 100%;
}

.widget1 {
    background-color: var(--widget1-color);
    color: var(--lightfont-color);
}

.widget2 {
    background-color: var(--widget2-color);
    color: var(--lightfont-color);
}

.widget3 {
    background-color: var(--widget3-color);
    color: var(--lightfont-color);
}

.widget4 {
    background-color: var(--widget4-color);
    color: var(--lightfont-color);
}

.widget5 {
    background-color: var(--widget5-color);
    color: var(--lightfont-color);
}

.widget6 {
    background-color: var(--widget6-color);
    color: var(--lightfont-color);
}

/*widget ends*/

/*site list */
.close-button {
    right: 20px;
    margin-top: 5px;
    position: absolute;
}

.list-title {
    width: 100%;
    height: 52px;
    background-color: white;
    border: solid 1px yellowgreen;
    border-radius: 5px;
}

.list-title a {
    /*padding-left: 110px;*/
    line-height: 50px;
    color: coral;
}

.name {
    float: left;
    padding-left: 10px;
    font-size: 20px;
}

.list-title i {
    float: left;
    margin-left: 5px;
}

.category {
    clear: both;
    margin-top: 5px;
}

/*site list ends*/
/* Overriding the materialize css */
.modal.bottom-sheet {
    max-height: 80% !important;
}
.clear {
    float: none !important;
}

.test {
@extend . cell;
    border: solid rebeccapurple 1px;
    height: 200px;
    margin-bottom: 20px;
}