/* Google CSE Custom Mods - Start*/
.gsc-input {
    background: none !important;
    margin: 0 0 0 0 !important;
}
.gsc-clear-button, .gsc-search-button {
    display: none;
}
/* Google CSE Custom Mods - End*/
/*Search for styles start*/
.gsc-input input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #555555;
}
/*Search form styles end*/
/*side navigation starts*/
/*side navigation ends*/

/*content start*/
.content {
    margin: 1%;
    background: #f2f2f2;
    border: 1px solid #bbbbbb;
    border-radius: 15px;
}
.side-nav a {
    /*background-color: #e67e22;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.col {
    /*border: solid red 1px;*/
}
/*header starts*/
.header {
    background-color: #E74C3C;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*height:200px;*/
}
.menu-button-column {

}
.logo-button-column {
    /*height: 125px;*/
}

.social-column {
    /*height: 50px;*/
    /*float: right !important;*/
    margin: 25px auto 3px auto;
}

.menu-button {
    margin: 25px 0 0 25px;
}
/*header ends*/


/*content end*/
/*sidebar start*/
.sidebar {
    font-weight: bold;
    color: #000000;
    background-color: rgba(245, 159, 159, 0.39);
    padding: 5%;
    /*text-align: center;*/
}
.sidebar li:hover {
    transition: margin-left,color 300ms,300ms;
    margin-left: 10px;
    color: #00C853;
}
/*Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:500*/
.sidebar .title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    /*font-style: italic;*/
    font-size: 1.2em;
    color: #dddddd;
    background-color: #C0392B;
    padding:10px;
    border-radius: 5px;
}
.sidebar li {
    margin-top: 3px;
}
/*sidebar end*/
/*footer starts*/
.footer{
    background-color: #e74c3c;
    margin-bottom: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*height: 350px;*/
}
.footer-widget {
    background-color: #ecf0f1;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
    height: 100px;
}
.bar-menu {
    background-color: #c0392b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:30px;
}

/*footer ends*/

.clear {
    float: none !important;
}